

<div class="mt-2 mb-2 d-flex flex-column gap-2 w-80">
  <input type="text" class="form-control" (input)="onUserInput($event)" />
  @if (!userInput) {
    <span class="text-danger">No user input!</span>
  } 
  <span class="w-20"><button (click)="addToList()" class="btn-primary  btn text" >Submit</button></span>

    
    <div class="w-100 ">
        <tr>
            <td class="w-50 p-3">{{oddEvent}}</td>
            <td class="w-50 p-3">{{evenEvent}}</td>
        </tr>
        <tr>
          <td class="w-50 p-3"> <b> Odds List: </b> </td>
          <td class="w-50 p-3"> <b> Evens List: </b> </td>
      </tr>
        <tr>
            <td><li *ngFor="let odd of oddsArray">{{odd}}</li></td>
            <td><li *ngFor="let even of evensArray">{{even}}</li></td>
        </tr>
        
    </div>
  
</div>
